.DS_Store

**/hosts.cfg

**/.terraform/
**/*.tfstate
./terraform/*.tfvars
terraform/secrets.tfvars
keys/
acm/
**/keys/
.idea/
**/.vagrant/

*.bck
**/*.bck
**/*.backup
**/terraform.tfstate.backup
terraform/terraform.tfstate.backup
ansible/config
ansible/logs
ansible/keygen.sh


./ansible/vars/datasource.yml
